{% extends "HubSiteBundle:Site:base.html.twig" %}

{% block pageTitle %}Login{% endblock %}
{% block content %}
	<div id="modules">
	<div id="login" class="module mod-form">
		<h2>Login</h2>
			<form class="o-form" action="{{ path('BrowserCreativeNtlmBundle_main_logincheck') }}" method="post">
				<div class="inside">
				{% if error %}
					<ul class="errors">
						<li class="error">{{ error.message }}</li>
					</ul>
				{% endif %}
				<ul class="list cf">
					<li class="item">
						<label class="label" for="username">Username:</label>
						<div class="field-wrapper">
							<input class="field" type="text" id="username" name="_username" value="{{ last_username }}" autocomplete="off" required="required">
						</div>
					</li>
					<li class="item">
						<label class="label" for="password">Password:</label>
						<div class="field-wrapper">
							<input class="field" type="password" id="password" name="_password" required="required">
						</div>
					</li>
				</ul>
				</div>
				<div class="footer">

				{#
					If you want to control the URL the user is redirected to on success (more details below)
					<input type="hidden" name="_target_path" value="/account" />
				#}

					<input class="button" type="submit" name="login" value="Login">
				</div>
			</form>
	</div>
	</div>

{% endblock %}
